* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body { display: flexbox;
  justify-content: center;
  align-items: center;
  background-color: white;

}
.head-container {
    background: url(images/headerImg.jpg) no-repeat left top ;
  display: flex;
  justify-content: center;
  height: 400px;
  overflow: hidden;
  text-align: center;
  position: relative;
  flex-wrap: wrap;
  
}
.navbar{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    
}

.navbar .nav-item ul {
  list-style-type: none;
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-flex;
}
.login,
.create {
  color: white;
  margin-left: 40px;
  padding: 20px;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10%;
}
.head-container .navbar .navbar-brand img {
  position: absolute;
  left: 45%;
  width: 20 0px;
  height: 200px;
  opacity: 1;

}

.head-container .intro {
  position: absolute;
  top: 50%;
  left: 35%;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.head-container .filter-section{
    position: absolute;
    bottom: 20%;
       
}


.main-content{
    background-color: white;
    height: 400px;
 
}
/* Main content */
.main-content .recommendation{
    position: absolute;
    color: #192F60;
    font-size: 2em;
    left: 20px;
    
}
 .type-meals .row1, .row2 {
    display: grid;
    gap: 100px 100px;
    height: 200px;
    width: 40px;
  }

.column .card img{
    height: 100px;
    width: 100px;
}