*{
padding: 0px;
margin: 0px;
}
.head-container{
background: url(images/headerImg.jpg);
height: 400px;
overflow: hidden;
text-align: center;
position: relative;

}
.navbar{
    position: absolute;
    color: rgb(255, 255, 255);
    background:rgba(0,0,0,0.3);
    left:0px;
    top:0px;
    width:100%;
    
}
.navbar .nav-item ul{
    list-style-type: none;
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-flex;
 
}
.login,.create{
    margin-left:40px ;
    padding: 10px;
    border: 2px solid white;
    background: rgba(0,0,0,0.3);
}

.head-container .intro{
    position: absolute;
    top: 70%;
    left: 35%;
    font-size: 2rem;
  
color: rgb(255, 255, 255);

}